<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon slot="icon-only" name="menu"></ion-icon>
    </button>
    <ion-title>Perfil</ion-title>
    <ion-buttons end>
      <button ion-button icon-only navPush="CartPage">
        <ion-icon name="cart"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-avatar>
    <img class="circle" [src]="cliente?.imageUrl || 'assets/imgs/avatar-blank.png'" />
  </ion-avatar>
  <h2 text-center>{{cliente?.nome}}</h2>
  <p text-center>{{cliente?.email}}</p>

  <ion-card>
    <ion-card-header>
      Enviar imagem de perfil
    </ion-card-header>
    <ion-item *ngIf="picture">
      <img [src]="picture">
    </ion-item>
    <ion-item>
      <button ion-button block (click)="getCameraPicture()" [disabled]="cameraOn">Camera</button>
      <button ion-button block outline (click)="sendPicture()" *ngIf="picture">Enviar imagem</button>
      <button ion-button block outline (click)="cancel()" *ngIf="picture">Descatar imagem</button>
    </ion-item>
  </ion-card>  
</ion-content>
