page-home {

    form {
        display: flex;
        flex-direction: column;
    }

    h3 {
        text-align: center;
    }

    img {
        width: 200px;
        align-self: center;
        margin: auto;
        display: block;
        padding: 10px;
    }

    .my-input {
        margin-bottom: 20px;
    }

}
